<!DOCTYPE html>
html
    head
        link(rel="icon" type="image/png" href="images/taxiicon.png" )
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(charset="UTF-8")
        title Taxi Template
        link(href="css/styles.css", rel="stylesheet")
        link(rel="stylesheet", href="css/font-awesome.css")
        link( href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet")
    body

        .header
            .header__titulo
                h1 Taxi Template
            
            .menu-bar1
                    span.menu Menu
                    span.boton1
                        i.fa.fa-bars
            ul.header__nav
                .menu-bar2
                    span.menu2 Menu
                    span.boton2
                        i.fa.fa-bars
                li.header__nav__item
                    a(href="#") Home
                li.header__nav__item
                    a(href="#") Vehiculos
                li.header__nav__item
                    a(href="#") Paquetes
                li.header__nav__item
                    a(href="#") App
                li.header__nav__item
                    a(href="#") Opiniones
                li.header__nav__item
                    a(href="#") Contacto
            .header__redes
                span 
                    i.fa.fa-facebook
                span 
                    i.fa.fa-twitter
                span
                    i.fa.fa-instagram
        
        .principal
    

    script(src="js/jquery.min.js")
    script(src="js/menu.js")
                