<!DOCTYPE html>
html
    head
        link(rel="icon" type="image/png" href="images/taxiicon.png" )
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(charset="UTF-8")
        title Taxi Template
        link(href="css/styles.css", rel="stylesheet")
        link(rel="stylesheet", href="css/font-awesome.css")
        link( href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet")
    body

        .header
            .header__titulo
                h1 Taxi Template
            
            .menu-bar1
                    span.menu Menu
                    span.boton1
                        i.fa.fa-bars
            ul.header__nav
                .menu-bar2
                    span.menu2 Menu
                    span.boton2
                        i.fa.fa-bars
                li.header__nav__item
                    a(href="#") Home
                li.header__nav__item
                    a(href="#vehiculosSection") Vehiculos
                li.header__nav__item
                    a(href="#paquetesSection") Paquetes
                li.header__nav__item
                    a(href="#appSection") App
                li.header__nav__item
                    a(href="#caracteristicasSection") Servicios
                li.header__nav__item
                    a(href="#") Contacto
            .header__redes
                span 
                    i.fa.fa-facebook
                span 
                    i.fa.fa-twitter
                span
                    i.fa.fa-instagram
        
        .principal
            .principal__titulo
                h1 Let's &nbsp; 
                h1.go Go 
            .principal__precio
                span Comienza con 5$/Km
        
        .vehiculos
            h1.vehiculos__titulo
                a(name="vehiculosSection") Nuestros Vehiculos
            
            .vehiculos__tipos
                .vehiculos__tipos__item
                    img(src="images/taxi_normal.jpg", alt="")
                    h2 Tipo: Normal
                    span.precio Precio: &nbsp;
                        i.fa.fa-usd
                        i.fa.fa-usd
                        i.fa.fa-usd
                    span.calificacion Calificacion:&nbsp;
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    button Escoger Taxi
                .vehiculos__tipos__item
                    img(src="images/taxi_familiar.gif", alt="")
                    h2 Tipo: Familiar
                    span.precio Precio: &nbsp;
                        i.fa.fa-usd
                        i.fa.fa-usd
                        i.fa.fa-usd
                        i.fa.fa-usd
                    span.calificacion Calificacion:&nbsp;
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    button Escoger Taxi
                .vehiculos__tipos__item
                    img(src="images/taxi_classic.jpg", alt="")
                    h2 Tipo: Clasico
                    span.precio Precio: &nbsp;
                        i.fa.fa-usd
                        i.fa.fa-usd
                        i.fa.fa-usd
                        i.fa.fa-usd
                        i.fa.fa-usd
                    span.calificacion Calificacion:&nbsp;
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    button Escoger Taxi
                .vehiculos__tipos__item
                    img(src="images/taxi_bici.jpg", alt="")
                    h2 Tipo: BiciTaxi
                    span.precio Precio: &nbsp;
                        i.fa.fa-usd
                        i.fa.fa-usd
                    span.calificacion Calificacion:&nbsp;
                        i.fa.fa-star
                    button Escoger Taxi

        .paquetes
            h1.paquetes__titulo
                a(name="paquetesSection") Nuestros Paquetes
            
            .paquetes__packages
                .paquetes__packages__item#sencillo
                    span Prime
                    span 200$ / 24 horas
                    hr(width="75%" align= "center")
                    span Vehiculo: Normal - Familiar
                    hr(width="75%" align= "center")
                    span Guia Turistico: No 
                    hr(width="75%" align= "center")
                    button Obtener
                .paquetes__packages__item#medio
                    span Superior
                    span 600$ / 7 Días
                    hr(width="75%" align= "center")
                    span Vehiculo: Normal - Familiar-Clasico
                    hr(width="75%" align= "center")
                    span Guia Turistico: Si 
                    hr(width="75%" align= "center")
                    button Obtener  
                .paquetes__packages__item#avanzado
                    span Exclusivo
                    span 900$ / 15 Días1
                    hr(width="75%" align= "center")
                    span Vehiculo: Todos
                    hr(width="75%" align= "center")
                    span Guia Turistico: Si + Guia personalizada 
                    hr(width="75%" align= "center")
                    button Obtener
    
    .app
        h1.app__titulo
                a(name="appSection") Nuestra App
        .app__info
            .app__info__img
                img(src="images/app.jpg", alt="")
            .app__info__download
                h2 Descarga nuestra App!
                span Disponible en Iphone y Android.
                .imgs
                    img(src="images/appStore.png", alt="")
                    img(src="images/playStore.png", alt="")
    

    .caracteristicas
        h1.caracteristicas__titulo
                a(name="caracteristicasSection") Nuestros Servicios
        ul#slides.opiniones__slider    
            li#showing.slide
                .info
                    span Estamos en todas las ciudades
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet perferendis quaerat, autem voluptas earum blanditiis ad tempore explicabo at minus accusantium quo sed, eligendi! Quis saepe voluptas corrupti impedit totam.
                    button Ver más
                img(src="images/mapa.jpg", alt="")
            li.slide
                span 
                .info
                    span Guias Turisticos
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet perferendis quaerat, autem voluptas earum blanditiis ad tempore explicabo at minus accusantium quo sed, eligendi! Quis saepe voluptas corrupti impedit totam.
                    button Ver más
                img(src="images/guia.jpg", alt="")
            li.slide 
                .info
                    span.titulo3 Visitas a puntos de interés
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet perferendis quaerat, autem voluptas earum blanditiis ad tempore explicabo at minus accusantium quo sed, eligendi! Quis saepe voluptas corrupti impedit totam.
                    button Ver más
                img(src="images/puntosInteres.jpg", alt="")
            li.slide
                .info
                    span Horarios personalizados
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet perferendis quaerat, autem voluptas earum blanditiis ad tempore explicabo at minus accusantium quo sed, eligendi! Quis saepe voluptas corrupti impedit totam.
                    button Ver más
                img(src="images/horario.jpg", alt="")

    script(src="js/jquery.min.js")
    script(src="js/menu.js")
    script(src="js/slider.js")
                